.user-list__cont {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.user-list__list {
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, auto);
}
.user_email {
  font-size: 14px;
  color: #302f2f;
}
.user_names,
.user_email,
.user_birthday {
  padding: 10px 0;
}
.user-list__btns_cont {
  margin-right: 75px;
  display: flex;
  justify-content: space-between;
}
.user-list__btns_cont button {
  margin: 0;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: #d93f3f;
  color: #e5e5e5;
}
.user-list__btns_cont button:hover {
  box-shadow: 0px 0px 5px 1px #856b6ba6;
  cursor: pointer;
}
@media (min-width: 320px) {
  .user-list__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }
  .user-list__btns_cont {
    margin-right: 25px;
  }
}
@media (min-width: 768px) {
  .user-list__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }
  .user-list__btns_cont {
    margin-right: 40px;
  }
}
@media (min-width: 1440px) {
  .user-list__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }
  .user-list__btns_cont {
    margin-right: 60px;
    font-size: 18px;
  }
}
